// components/shared/navbar/navbar.component.scss
.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button {
    margin-left: 8px;
    
    mat-icon {
      margin-right: 4px;
    }
  }