// src/styles.scss

// Estilos para las notificaciones
.success-snackbar {
    background: #4caf50 !important;
    color: white !important;
    
    .mdc-snackbar__surface {
      background-color: #4caf50 !important;
    }
    
    .mat-simple-snackbar-action {
      color: white !important;
    }
  }
  
  .error-snackbar {
    background: #f44336 !important;
    color: white !important;
    
    .mdc-snackbar__surface {
      background-color: #f44336 !important;
    }
    
    .mat-simple-snackbar-action {
      color: white !important;
    }
  }
  
  .warning-snackbar {
    background: #ff9800 !important;
    color: white !important;
    
    .mdc-snackbar__surface {
      background-color: #ff9800 !important;
    }
    
    .mat-simple-snackbar-action {
      color: white !important;
    }
  }
  
  .info-snackbar {
    background: #2196f3 !important;
    color: white !important;
    
    .mdc-snackbar__surface {
      background-color: #2196f3 !important;
    }
    
    .mat-simple-snackbar-action {
      color: white !important;
    }
  }