<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Portal de Usuarios</h4>
      <p>Gestión con Angular y .NET</p>
    </div>

    <div class="footer-section">
      <h4>inicio Rapido</h4>
      <ul>
                
        <li><a routerLink="/profile">Perfil</a></li>
        <li><a routerLink="/login">- Iniciar Sesión -</a></li>
        <li><a routerLink="/register">Registrarse</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Contacto</h4>
      <ul class="contact-info">
        <li>
          <mat-icon>email </mat-icon>
          <a> yeison.quintob@gmail.com</a>
        </li>
        <li>
          <mat-icon>phone</mat-icon>
          <span> +57 305-395-4292</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Portal de Usuarios</p>
  </div>
</footer>
